footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

footer ul {
    display: flex;
    gap: 1rem;
}

footer ul li a {
    color: var(--subtitle);
    font-size: .9rem;
    transition: .3s;
    position: relative;
}

footer ul li a::after {
    content: "";
    background: linear-gradient(to right, transparent, var(--blue), transparent);
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -10px;
    opacity: 0;
    transition: .3s;
}

footer ul li a:hover::after {
    opacity: 0;
}

footer ul li a:hover {
    color: var(--blue);
    font-size: 1.1rem;
    font-weight: 400;
}

footer p {
    color: rgb(113 113 122);
}

@media (max-width:800px) {
    footer {
        flex-direction: column;
        gap: 2rem;
    }
}