main {
    display: flex;
    align-items: start;
    gap: 2.6rem;
}


main .left-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .left-section button {
    background-color: rgba(36, 37, 46, 1);
    padding: .75rem 0;
    text-align: center;
    border-radius: 5px;
    width: 11rem;
    text-transform: capitalize;
    opacity: .5;
    transition: .3s;
    font-size: 1.05rem;
}

main .left-section button.active {
    opacity: 1;
    border: 1px solid var(--blue);
    font-weight: bold;
    padding: 0.9rem 0;
}

.light main .left-section button.active {
    border: 1px solid #000;
}

main .left-section button:hover {
    opacity: 1;
}


main .right-section {
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    justify-content: center;
}

main .right-section .card {
    border: 1px solid rgba(93, 188, 252, 0.3);
    border-radius: 8px;
    transition: 0.3s;
    width: 280px;
    overflow: hidden;
    background-image: linear-gradient(var(--backrgound), var(--backrgound2));
}

.light main .right-section .card {
    border: none;
}

main .right-section .card img {
    width: 280px;
    border-radius: 6px;
    margin-bottom: 1.4rem;
}

main .right-section .card h2 {
    margin-bottom: .9rem;
    margin-left: .5rem;
    text-transform: capitalize;
}

main .right-section .card p {
    font-size: .9rem;
    line-height: 1.1rem;
    color: var(--subtitle);
    margin-bottom: 1.3rem;
    margin-left: .5rem;
}

main .right-section .card .icons {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
    color: var(--subtitle);
    font-size: 1.1rem;
    margin-bottom: .7rem;
}

main .right-section .card .icons .hub {
    color: inherit;
}

main .right-section .card .icons .link {
    margin-right: .9rem;
}

main .right-section .card .icons .link:hover,
main .right-section .card .icons .hub:hover {
    color: var(--icon-hover);
    cursor: pointer;
    font-size: 1.2rem;
    transition: .3s;
}

main .right-section .card .icons .live {
    margin-right: .4rem;
    color: inherit;

}

main .right-section .card .icons .livedemo {
    color: rgb(93 188 252 / 75%);
    cursor: pointer;
    transition: .3s;
    font-size: 1.1rem;
}

main .right-section .card .icons .livedemo:hover {
    color: var(--blue);
}

@media (max-width:600px) {
    main {
        flex-direction: column;
        align-items: center;
        gap: 2.64rem;
    }

    main .left-section {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}