@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: "Roboto", sans-serif;
  letter-spacing: .1px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --bgheader: #27272a;
  --blue: rgb(93, 188, 252);
  --icon-hover: #d4d4d8;
  --dark-shadow: rgba(203, 200, 200, 0.586);
  --backrgound: rgba(255, 255, 255, 0.05);
  --backrgound2: rgba(255, 255, 255, 0.2);
}

.light {
  --primary: rgb(250, 250, 250);
  --secondary: rgb(255 255 255);
  --border: rgba(202, 202, 202, 0.518);

  --title: rgb(39 39 42);
  --subtitle: rgb(82 82 91);
  --bgheader: rgb(243, 243, 243);
  --blue: rgb(0, 149, 246);
  --icon-hover: #333;
  --dark-shadow: rgb(18 17 17 / 64%);
  --backrgound: #0000009e;
  --backrgound2: rgba(255, 255, 255, 0.2);

}

body {
  background-color: var(--primary);
  color: white;
}

.container {
  border: 2px solid var(--border);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  padding: 0 4rem;
}

.divider {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + 4rem + 4rem);
  margin-left: -4rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}

.flex {
  display: flex;
  align-items: center;
}

button {
  all: unset
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9;
}


::-webkit-scrollbar {
  width: .8rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, rgb(2, 2, 2), rgba(255, 255, 255, 0.549));
  border-radius: 6px;
  background-size: 100% 200%;
  background-position: bottom;
}

::-webkit-scrollbar-thumb:hover {
  background-position: top;
}

.up {
  background-color: rgba(25, 118, 210, 0.85);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: .3s;
}

.up:hover {
  background-color: rgba(25, 118, 210);

}

.block {
  display: block;
  animation: opacity 1s ease-in-out;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}


@media (max-width:1000px) {
  .container {
    width: 90%;
    padding: 0 1.9rem;
  }

  .divider {
    border-bottom: 1px solid var(--border);
    margin: 3rem 0;
    width: calc(100% + 1.9rem + 1.9rem);
    margin-left: -1.9rem;
  }
}

@media (max-width:600px) {
  .container {
    width: 98%;
    padding: 0 1.5rem;
  }

  .divider {
    border-bottom: 1px solid var(--border);
    margin: 3rem 0;
    width: calc(100% + 1.5rem + 1.5rem);
    margin-left: -1.5rem;
  }

  .up {
    opacity: 0.7;
    width: 2.2rem;
    height: 2.2rem;
  }
}